body {
  background: linear-gradient(gray, black);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Courier Prime", monospace;
}

Button {
  box-shadow: 4px 4px rgba(0,0,0,.3);
}